::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
	transition: 0.3s;

	background:    var(--color-scrollbar-thumb);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-scrollbar-thumb-hover);
}
